:root{
  --clr-primary-light: #faf3e0;
  --clr-secondary-light: #acb4f4;
  --clr-primary-dark: #1e212d;
  --clr-secondary-dark: #6870e0;
  --clr-rose: oklch(71.2% 0.194 13.428);
}

/* css reset */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* main css */

header,
footer{
  background-color: var(--clr-primary-dark);
  color: var(--clr-primary-light);
  text-align: center;
}

header {
  padding-inline: 1.25rem;
  padding-block: 2rem;
  margin-bottom: 2rem;
}

h1{
  font-size: 3rem;
}

main{
  min-height: 75dvh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.starting_desc{
  font-size: 1.5rem;
  max-width: 23ch;
  text-align: center;
  margin-inline: auto;
  margin-bottom: 2rem;
}

main > section:first-child{
  margin-bottom: 2.5rem;
}

.weatherForm{
  display: flex;
  gap: 0.5rem;
}

.unitGroupSwitch,
.formSubmit{
  background-color: var(--clr-primary-dark);
  color: var(--clr-primary-light);
  padding: 0.5rem;
  text-align: center;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}

input {
  border: 1.25px solid var(--clr-primary-dark);
  border-radius: 0.5rem;
  padding: 0 0 0 .35rem;
}

.formSubmit {
  padding-inline: 0.75rem;
}

button:hover{
  background-color: var(--clr-secondary-dark);  
}

.locationWeatherDetails {
  background-color: var(--clr-primary-dark);
  color: var(--clr-primary-light);
  padding-block: 2rem;
  padding-inline: 3rem;
  .weatherDetailsContainer {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
    .currentCondition{
      font-size: 1.5rem;
      font-style: italic;
    }
    @media (max-width: 48em) {
      .moreDetailsContainer{
        flex-wrap: wrap;
        p{
          min-width: 11rem;
        }
      }
    }
    .moreDetailsContainer {
      margin-top: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
      p {
        text-align: center;
        background-color: var(--clr-secondary-light);
        color: #000;
        margin-bottom: 1rem;
        padding-inline: 1rem;
        padding-block: 0.5rem;
        border-radius: 0.75rem;
      }
    }
  }

}

.locationWeatherDetails:empty{
  visibility: hidden;
}

footer {
  padding-block: 0.45rem;
  a{
    color: var(--clr-secondary-light);
  }
  a:visited{
    color: var(--clr-rose);
  }
}